.form-container {
  margin: 50px 0;
  display: flex;
  justify-content: center;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
}

.form-label {
  margin: 10px 0 5px 0;
  font-size: 20px;
}

.form-input {
  padding: 15px;
  border-radius: 10px;
  border: none;
  outline: none;
}

.form-textarea {
  padding: 15px;
  margin-bottom: 15px;
  resize: none;
  border-radius: 10px;
  border: none;
  outline: none;
}
